In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path="D:\\MACHINE LEARNING\\RECOMMANDATION ENGINE\\projects\\datasets\\books_data.csv"
book_df=pd.read_csv(file_path)

In [3]:
book_df

,bookID,title,authors,average_rating
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78
...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96
11125,45639,Poor People,William T. Vollmann,3.72
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91

In [4]:
#basic checks

In [5]:
book_df.size

44508

In [6]:
book_df.shape

(11127, 4)

In [7]:
book_df.head()

,bookID,title,authors,average_rating
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78

In [8]:
book_df.tail()

,bookID,title,authors,average_rating
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96
11125,45639,Poor People,William T. Vollmann,3.72
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91

In [9]:
book_df.columns

Index(['bookID', 'title', 'authors', 'average_rating'], dtype='object')

In [10]:
book_df.dtypes

bookID             int64
title             object
authors           object
average_rating    object
dtype: object

In [11]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bookID          11127 non-null  int64
 1   title           11127 non-null  object
 2   authors         11127 non-null  object
 3   average_rating  11127 non-null  object
dtypes: int64(1), object(3)
memory usage: 347.8+ KB

In [12]:
book_df.isnull().sum()

bookID            0
title             0
authors           0
average_rating    0
dtype: int64

**EDA**

**book ID**

In [13]:
book_df["bookID"]

0            1
1            2
2            4
3            5
4            8
         ...
11122    45631
11123    45633
11124    45634
11125    45639
11126    45641
Name: bookID, Length: 11127, dtype: int64

In [14]:
book_df["bookID"].nunique()

11127

**autrhors**

In [15]:
book_df["authors"]

0                               J.K. Rowling/Mary GrandPré
1                               J.K. Rowling/Mary GrandPré
2                                             J.K. Rowling
3                               J.K. Rowling/Mary GrandPré
4                               J.K. Rowling/Mary GrandPré
                               ...
11122    William T. Vollmann/Larry McCaffery/Michael He...
11123                                  William T. Vollmann
11124                                  William T. Vollmann
11125                                  William T. Vollmann
11126                                           Mark Twain
Name: authors, Length: 11127, dtype: object

In [16]:
book_df["authors"].nunique()

6643

**average_rating**

In [17]:
book_df["average_rating"]

0        4.57
1        4.49
2        4.42
3        4.56
4        4.78
         ...
11122    4.06
11123    4.08
11124    3.96
11125    3.72
11126    3.91
Name: average_rating, Length: 11127, dtype: object

In [18]:
book_df["average_rating"].dtype

dtype('O')

**conversion to numerical**

In [19]:
book_df["average_rating"]=pd.to_numeric(book_df["average_rating"], errors='coerce')

In [20]:
book_df["average_rating"]

0        4.57
1        4.49
2        4.42
3        4.56
4        4.78
         ...
11122    4.06
11123    4.08
11124    3.96
11125    3.72
11126    3.91
Name: average_rating, Length: 11127, dtype: float64

In [21]:
book_df["average_rating"].dtype

dtype('float64')

In [22]:
book_df['book_content'] = book_df['title'] + ' ' + book_df['authors']

In [23]:
book_df['book_content']

0        Harry Potter and the Half-Blood Prince (Harry ...
1        Harry Potter and the Order of the Phoenix (Har...
2        Harry Potter and the Chamber of Secrets (Harry...
3        Harry Potter and the Prisoner of Azkaban (Harr...
4        Harry Potter Boxed Set  Books 1-5 (Harry Potte...
                               ...
11122    Expelled from Eden: A William T. Vollmann Read...
11123      You Bright and Risen Angels William T. Vollmann
11124    The Ice-Shirt (Seven Dreams #1) William T. Vol...
11125                      Poor People William T. Vollmann
11126               Las aventuras de Tom Sawyer Mark Twain
Name: book_content, Length: 11127, dtype: object

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [25]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(book_df['book_content'])

In [26]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [27]:
def recommend_books(book_title, cosine_sim=cosine_sim):
    idx = book_df[book_df['title'] == book_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    book_indices = [i[0] for i in sim_scores]                         
    return book_df['title'].iloc[book_indices] # Return the top 10 recommended books

In [28]:
book_title = "Dubliners: Text  Criticism  and Notes"
recommended_books = recommend_books(book_title)
print(recommended_books)

6191      CliffsNotes on Joyce's Dubliners (Cliffs Notes)
2988                                            Dubliners
2987                             The Portable James Joyce
3981                      White Noise: Text and Criticism
7704               The Quiet American: Text and Criticism
2871                          Sam Walton: Made In America
6188                                            Dubliners
2788                                    Dumpy's Valentine
796     Great Expectations: Authoritative Text  Backgr...
8199    Middlemarch: An Authoritative Text  Background...
Name: title, dtype: object